@import 'bootstrap/dist/css/bootstrap.min.css';



body {
 display: grid;
  

  background-image: url("../public/BikeBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;
  width: auto;
}

/* Login comp */
#login-container{
  place-items: center center;
}

#login-field{
  margin-top: 1rem;
}

.form-control:focus{
  z-index: 5;
}


/*  Link to register  */
.center-bottom{
  text-decoration: none !important;
  place-content: center;
  display: flex;
  justify-content: center;
  color: azure;
  background-color: rgb(0, 0, 40, 0.5);
  width:max-content;
  padding: 15px;
  border-radius: 10px;
  margin-left: 28rem;
  position:relative;
  bottom: -12em;
}


/* NavBar */
.bg-navbarColor {
  background-color: rgb(0, 0, 40);
}

.homeLogo{
  color: rgb(83, 125, 0) !important;
}

.homeLogo:hover{
  color: rgb(214, 214, 214) !important;
}

/* Post card */
.post-card{
  background-color: #fafafa ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position:relative;
  width:40em;
  text-decoration: none!;
  cursor: pointer;
}

.post-card:hover{
  background-color: #fafafaa7;
  box-shadow: 5px 10px 8px #888888;
}


.single-post{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position:relative;
  width: 40em;
}

.post-picture{
  max-width: 40em;
  height: auto;
}